@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.main-title {
  color: #393939;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
}

.page-header {
  padding: 2px 25px;
  background-color: #8ba173;
  text-align: left;
  font-size: 20px;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:after {
  content: '>>';
  margin: 5px;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.about__text {
  display: block;
  background-color: #8ba173;
  font-size: 20px;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}

.about__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
}

.about__company {
  font-size: 20px;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}

.about__link {
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  padding: 15px 15px 10px 15px;
  background-color: #8ba173;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 905px) {
  .about__title {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  .about__title {
    text-align: center;
  }
}

@media (max-width: 445px) {
  .about__title {
    font-size: 28px;
  }
  .about__company {
    font-size: 17px;
  }
}

.team__text {
  display: block;
  background-color: #8ba173;
  font-size: 20px;
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
}

.team__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
}

.team__picture-image {
  display: block;
  width: 700px;
  margin: auto;
}

.team__photo-image {
  display: block;
  width: 280px;
  height: 400px;
}

.team__photo-img {
  display: block;
  width: 470px;
  height: 400px;
  margin-left: 30px;
}

.team__album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.team__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.team__link {
  display: block;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  padding: 15px 10px 10px 10px;
  background-color: #8ba173;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
}

.team__span {
  position: absolute;
  top: 8%;
  left: 10px;
  font-size: 30px;
}

.button {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-4em) skewX(-45deg);
          transform: translateX(-4em) skewX(-45deg);
  -webkit-animation: move-light 3s infinite;
          animation: move-light 3s infinite;
}

@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(20em) skewX(-45deg);
            transform: translateX(20em) skewX(-45deg);
  }
}

@keyframes move-light {
  from {
    -webkit-transform: translateX(-4em) skewX(-45deg);
            transform: translateX(-4em) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(20em) skewX(-45deg);
            transform: translateX(20em) skewX(-45deg);
  }
}

@media (max-width: 992px) {
  .team__item {
    margin-left: 30px;
  }
  .team__title {
    font-size: 35px;
  }
}

@media (max-width: 735px) {
  .team__picture-image {
    max-width: 100%;
  }
}

@media (max-width: 663px) {
  .team__photo-img {
    width: 390px;
    height: 344px;
  }
}

@media (max-width: 595px) {
  .team__title {
    font-size: 30px;
  }
}

@media (max-width: 555px) {
  .team__photo-img {
    width: 315px;
    height: 295px;
  }
}

@media (max-width: 436px) {
  .team__picture {
    display: none;
  }
}

@media (max-width: 415px) {
  .team__photo-img {
    margin-left: 0;
  }
  .team__album {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 382px) {
  .team__photo-image {
    width: 250px;
    height: 340px;
  }
  .team__photo-img {
    width: 290px;
    height: 275px;
  }
  .team__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .team__item {
    margin-left: 0;
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 330px) {
  .team__photo-img {
    width: 245px;
    height: 230px;
  }
  .team__photo-image {
    width: 225px;
    height: 305px;
  }
  .team__title {
    font-size: 25px;
  }
}

.news .main-title {
  padding: 50px 0;
  text-transform: uppercase;
}

.news-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news-list li {
  margin-bottom: 20px;
  text-align: left;
  border-top: 1px solid #999;
}

.news-list li h2 {
  margin-top: 0;
  padding: 5px;
  background: #a4b592;
  text-align: center;
}

.news-img {
  min-width: 300px;
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
}

.news-img img {
  max-width: 100%;
  height: auto;
}

.news-text {
  text-align: justify;
}

.news-text p {
  margin-top: 0;
}

.news-text span {
  display: block;
  width: 100%;
  text-align: right;
  margin: auto 0 0 auto;
  color: #b7b5b5;
}

.news .pagination {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #999999;
  border-radius: 3px;
}

.news .pagination-link {
  padding: 5px 10px;
  text-decoration: none;
}

.news .pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news .pagination-list li.current {
  padding: 5px 10px;
  border-left: 1px solid #999;
  cursor: pointer;
}

.news .pagination-list li a {
  display: block;
  padding: 5px 10px;
  border-left: 1px solid #999;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news .pagination-list li a:hover {
  background: #8ba173;
  color: #000;
}

.news .pagination-list li:last-child {
  border-right: 1px solid #999;
}

.header {
  position: relative;
}

.header-video {
  z-index: 1;
  opacity: 0.7;
}

.header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 1170px;
  color: #000000;
  top: 2%;
}

.header-content__text {
  font-size: 17px;
}

.header-content__feedback_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__feedback_phone a {
  color: #8ba173;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}

.header-navbar {
  position: absolute;
  z-index: 2;
  top: 16%;
}

.header-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-navbar ul li {
  padding-left: 20px;
  list-style: none;
}

.header-navbar ul li:first-child {
  padding-left: 0;
}

.header-navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.header-navbar ul li a:hover {
  color: #586846;
}

.phone-text {
  font-size: 12px;
  color: #cccccc;
}

.feedback-time {
  font-size: 12px;
  color: #cccccc;
}

.feedback-time span {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.better {
  padding-top: 50px;
  background-color: whitesmoke;
  padding-bottom: 50px;
}

.better h1 {
  text-align: center;
}

.better-content {
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.better-content__box {
  padding: 40px 0;
}

.better-content__box_image i {
  font-size: 150px;
  color: #8ba173;
}

.better-content__box_title {
  font-size: 14px;
}

.better-content__box_text {
  font-size: 14px;
  color: #7f7f7f;
  width: 265px;
}

.eff {
  margin-bottom: 27px;
}

.base {
  background-color: #8ba173;
  padding-top: 50px;
  padding-bottom: 50px;
}

.base-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.base-content__box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 389px;
  text-align: center;
}

.base-content__box_image {
  font-size: 150px;
}

.base-content__box_image i {
  color: #e8f0d7;
}

.base-content__box_title {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.products {
  padding: 50px 0;
  background-color: #8ba173;
  color: #f5f5f5;
}

.products-text {
  text-align: justify;
  font-size: 14px;
}

.products-content__box_title {
  font-size: 28px;
}

.video {
  background-color: #f5f5f5;
}

.footer {
  background-color: #8ba173;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content__box a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.footer-content__box_name {
  font-weight: bold;
  font-size: 20px;
}

.footer-content__box_feedback a {
  font-size: 17px;
}

.methods {
  position: relative;
  padding-bottom: 675px;
  padding-top: 50px;
}

.methods-sub {
  text-align: justify;
}

.middle {
  position: absolute;
  -webkit-transform: transform(-50%, -50%);
          transform: transform(-50%, -50%);
}

.middle h2 {
  font-size: 16px;
}

.ml {
  margin-bottom: 50px !important;
}

.open {
  text-decoration: none;
  border-bottom: 1px solid #2c3e50;
  color: #2c3e50 !important;
}

.open:hover {
  color: #000000;
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
}

.card:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.front-img__one {
  height: 70%;
  margin-top: 20%;
  border-radius: 20px;
  max-width: 100%;
}

.front-img__two {
  margin-top: 28px;
  width: 97%;
  height: 89%;
  border-radius: 5px;
}

.front-img__three {
  width: 97%;
  height: 89%;
  margin-top: 27px;
  border-radius: 5px;
}

.back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px;
  border: 1px solid #cccccc;
  height: 337px;
  margin-top: 67px;
}

.back-content {
  color: #000000;
  text-align: center;
  width: 87%;
}

.back-content a {
  color: #000000;
  font-weight: bold;
}

.back-content a:hover {
  color: #333333;
}

.back-content__text-h {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}

.back-content__text-h strong {
  font-size: 16px;
}

.back-content__text-l {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 5px;
}

.back-content__text-l strong {
  font-size: 16px;
}

.sm {
  margin: 20px 0;
}

.sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px;
  color: #2c3e50;
  -webkit-transform: 0.4s;
          transform: 0.4s;
  border-radius: 50%;
  text-decoration: none;
}

.sm a:hover {
  color: #000000;
}

.card-two {
  left: 40.5%;
}

.card-three {
  left: 67%;
}

.ml-three {
  margin-bottom: 27px !important;
}

@media (max-width: 576px) {
  .news .main-title {
    padding: 25px 0;
  }
  .news-list li h2 {
    font-size: 18px;
  }
  .news-img {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */