@font-face {

	font-family: 'RobotoBold';

	src: url('../fonts/RobotoBold/RobotoBold.eot');

	src: url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'RobotoRegular';

	src: url('../fonts/RobotoRegular/RobotoRegular.eot');

	src: url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}
@mixin bold {
	font-family: 'RobotoBold', sans-serif;
	font-weight: 700;
}
@mixin regular{
	font-family: 'RobotoRegular', sans-serif;
	font-weight: 400;
}