.gallery
	.main-title
		padding: 50px 0
		text-transform: uppercase
	&-descr
		text-align: left
	&-links
		display: flex
		flex-wrap: wrap
		.about__link
			height: auto
			width: 400px
			font-size: 16px
			border: none