body
	+regular

.container
	max-width: 1170px
	margin: 0 auto
	text-align: center


.main
	&-title
		color: #393939
		+bold
		margin: 0
		font-size: 30px
.page-header
	padding: 2px 25px
	background-color: $primery-color
	text-align: left
	font-size: 20px
	font-family: 'RobotoRegular', sans-serif
	font-weight: 400

.breadcrumbs
	a
		text-decoration: none
		&:after
			content: '>>'
			margin: 5px

.clearfix
	zoom: 
	&:before,
	&:after
		content: ""
		display: table
	&:after
		clear: both