body
  +regular
.container
	width: 1170px
	margin: auto

@media(max-width: 1750px)
	.container
		width: 90%
@media(max-width: 992px)
	.container 
		width: 767px
@media(max-width: 768px)
	.container
		width: 95%
